<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">

    <persistence-unit name="DerbyPU" transaction-type="JTA">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <jta-data-source>java:/javabasicsderby</jta-data-source>
        <properties>
            <!--<property name="hibernate.connection.url" value="jdbc:derby://localhost:1527/hiber-db"/>-->
            <!--<property name="hibernate.connection.driver_class" value="org.apache.derby.jdbc.ClientDriver"/>-->
            <!--<property name="hibernate.connection.username" value="oe"/>-->
            <!--<property name="hibernate.connection.password" value="oe"/>-->
            <property name="hibernate.dialect" value="org.hibernate.dialect.DerbyDialect"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>
            <property name="hbm2ddl.auto" value="validate"/>
            <property name="hibernate.default_schema" value="OE"/>
        </properties>
    </persistence-unit>
</persistence>
